- title = "Friends: List & Requests";

html
  include includes/head

body.ui
  include includes/navigation
  div.page-wrapper: div#content-region.page

  include templates/friends/include
  include templates/profile/include
  include templates/search/include