- title = "Profile";

html
  include includes/head

body.ui
  include includes/navigation
  div.page-wrapper: div.page
    div.grid-container
      div.grid-column.col-60
        div.substrate
          h1 Danil Chunikhin
          p Username: Chunikhin
          p Date of registration: 12/10/2014