script(id="search-layout-template", type="text/template")
  div.grid-container
    div.grid-column.col-60
      div.substrate
        div.textbox.icon
          i.fa.fa-search
          input(type="text", placeholder="Enter your user name ...")

        div#result-region.list-of-users