script(id="friends-layout-template", type="text/template")
  div.grid-container
    div.grid-column.col-50
      div.substrate
        h1 Inbox

        div#inbox-region.list-of-users

    div.grid-column.col-50
      div.substrate
        h1 Outbox

        div#outbox-region.list-of-users

    div.grid-column
      div.substrate
        h1 My Friends

        div#list-region.list-of-users